/*=============== Font-Face ===============*/
@font-face {
    font-family: 'Poppins';
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(0, 0%, 100%);
    --gradient: linear-gradient(90deg, hsl(148, 100%, 50%), hsl(144, 100%, 20%));
    --first-color-alt: hsl(0, 0%, 52%);
    --black-color: #000000;
    --text-color: hsl(0, 0%, 100%);
    --text-color-light: hsl(0, 0%, 52%);
    --body-color: hsl(0, 87%, 26%);
    --container-color: hsl(22, 8%, 7%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Poppins', cursive;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    padding-block: 3rem 1.5rem;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #d7c9c9;
    color: var(--black-color);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}




/*SideBar*/
.sideBarBg{
    background: #7D0909;
}


.Logo{
    width: auto;
    height: 75px;
}
.LogoText{
    font-family: "Stick No Bills", sans-serif;
    font-size: 5.2em;
    font-weight: bolder;
    padding-bottom: 0.35rem;
    font-variant-caps: all-small-caps;
    background-color: rgba(255, 253, 253, 0.85);
    color: transparent;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.44);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(3);
}


.bgSide{
    background: #d7c9c9;
}

.text{
    color: #7D0909;
}

.pad{
    padding-top: 1px;
}

.pMake{
    padding-top: 45px;
    padding-right: 80px;
}


.event1{
    transition: scale 0.1s;

}

.event1:hover{
    scale: 1.1;
}



.overview{
    background-color: white;
    height: auto;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

}

.attendance{
    width: 100%;
    margin: 0;
}

#title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.section{
    background-color: #cacaca;
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.sections{
    background-color: #cacaca;
    height: 50px;
    width: 100%;
    display: flex;
    border: 1px solid #000;
}

.section1{
    background-color: #cacaca;
    height: 50px;
    width: 100%;
    display: flex;
    border: 1px solid black;
}

.department{
    border-right:1px solid #000;
    width:100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 1%;
}


.total-students{
    border-right: 1px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    font-style: italic;
}


.attended{
    border-right: 1px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    font-style: italic;
}



.viewall{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url('view.png');
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: center;
    background-position-x: 95%;
}



.viewall a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 2%;
    height: 90%;
    width: 10vw;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
}

