/*=============== Font-Face ===============*/
@font-face {
    font-family: 'Poppins';
    src: url('path/to/font/file.ttf'); /* Replace 'path/to/font/file.ttf' with the actual path to your font file */
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(0, 0%, 100%);
    --gradient: linear-gradient(90deg, hsl(148, 100%, 50%), hsl(144, 100%, 20%));
    --first-color-alt: hsl(0, 0%, 52%);
    --black-color: #000000;
    --text-color: hsl(0, 0%, 100%);
    --text-color-light: hsl(0, 0%, 52%);
    --body-color: hsl(0, 87%, 26%);
    --container-color: hsl(22, 8%, 7%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Poppins', cursive;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    padding-block: 3rem 1.5rem;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #d7c9c9;
    color: var(--black-color);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}




/*SideBar*/
.sideBarBg{
    background: #7D0909;
}


.Logo{
    width: auto;
    height: 75px;
}
.LogoText{
    font-family: "Stick No Bills", sans-serif;
    font-size: 5.2em;
    font-weight: bolder;
    padding-bottom: 0.35rem;
    font-variant-caps: all-small-caps;
    background-color: rgba(255, 253, 253, 0.85);
    color: transparent;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.44);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(3);
}


.bgSide{
    background: #d7c9c9;
}

.text{
    color: #7D0909;
}

.pad{
    padding-top: 1px;
}

.pMake{
  padding-top: 45px;
  padding-right: 80px;
}


.overview{
    background-color: white;
    display: flex;
    height: 48vh;
    width: 6vw;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    gap: 2%;
}

.event-overlay {
    position: fixed; 
    top: 60%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    width: 70%; 
    max-width: 400px;
    background-color: white;
    color: black;
    display: none; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
    border: 2px solid #7D0909; 

}

.event-details {
    text-align: left; 
}

.event-buttons {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

/* Style for the event buttons */
.event-buttons button {
    background-color: #7D0909;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.event-buttons button:hover {
    background-color: #DFA91D;
    color: #7D0909;
}

