@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
body{
    font-family: Arial;
}

i{
    color: #DFA91D;
}

.header{
    height: 15vh;
    background-color: #7D0909;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
}

.notifs{
    display: flex;
    float: right;
    align-items: center;
    width: 13%;
    gap: 10%;
    cursor: pointer;
    justify-content: right;
    padding-right: 4%;
}

.notifs img{
    height: 7vh;
    margin-left: 10%;
}

.notif-box{
    background-color: white;
    display: grid;
    position: absolute;
    width: 25%;
    visibility: hidden;
    align-items: center;
    padding: 0.5%;
    margin-left: 72%;
    border:1px solid #000;
    margin-top: 10%;
}

.notifi-box{
    background-color: white;
    position: absolute;
    width: 25%;
    visibility: hidden;
    align-items: center;
    margin-left: 64%;
    border:1px solid #000;
    font-weight: bold;
}

.notif-header{
    display: flex;
    height: 13%;
    align-items: center;
    border-bottom: 1px solid black;
    color: #7D0909;
    font-weight: normal;
}

.left-header{
    width: 50%;
    padding-left: 2%;
}

.right-header{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-right: 1%;
    cursor: pointer;
}

.right-header span{
    padding-top: 1.5%;
    padding-left: 5%;
}

.right-header i{
    padding-right: 3%;
    font-size: 1.3em;
    color: #7D0909;
}

.bottom-header{
    background-color: #cacaca;
}

.content{
    display: flex;
    padding-top: 5%;
    align-content: center;
}

.content i{
    font-size: 1.8em;
    color: #7D0909;
    padding-right: 5%;
    padding-left: 4%;
}

.statuss{
    padding-left: 17%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #3E3E3E;
    font-size: 0.8em;
    border-bottom: 1px solid #7D0909;
}

.osas-name{
    border-bottom: 1px solid #000;
    padding: 1%;
}


.osas-name i{
    padding-right: 5%;
    font-size: 1.3em;
    padding-left: 2%;
    color: black;
}

.osas-name span{
    padding-left: 2%;
}

.logout{
    margin-top: 4%;
}

.logout a{
    display: flex;
    text-decoration: none;
}

.logout button{
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding-left: 1%;
    cursor: pointer;
}

.logout i{
    font-size: 1.5em;
    padding-right: 5%;
    padding-left: 3%;
    color: black;
}

.logo{
    padding-left: 1%;
    display: flex;
    float: left;
    width: 87%;
    align-items: center;
    gap: 1%;
    color: white;
}

.logo img{
    height: 13vh;
}

.logo p{
    font-family:'Stick No Bills';
    font-weight: bolder;
    font-size: 4em;
}

.navs ul{
    list-style: none;
    width: 100%;
}

.navs a{
    text-decoration: none;
    color: black;
}

.navs{
    background-color: #7D0909;
    width: 20%;
    height: 85vh;
    display: flex;
    float: left;
}

.dashboard{
    background-color: #DACCCC;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 10%;
    padding-left: 20%;
    border-bottom: 1px solid #DACCCC;
}

.dashboard a{
    color: black;
}

.dashboard i {
    font-size: 2em;
    padding-left: 2%;
}

.dashboard:hover{
    background-color: #DACCCC;
    a{
        color: black;
    }
}

.event{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 10%;
    padding-left: 20%;
    border-bottom: 1px solid #DACCCC;
}

.event a{
    color: white;
}

.event i{
    font-size: 2em;
    padding-left: 4%;
}

.event:hover{
    background-color: #DACCCC;
    a{
        color: black;
    }
}

.calendar{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 10%;
    padding-left: 20%;
    border-bottom: 1px solid #DACCCC;
}

.calendar a{
    color: white;
}

.calendar i{
    font-size: 2em;
    padding-left: 4%;
}

.calendar:hover{
    background-color: #DACCCC;
    a{
        color: black;
    }
}
  
.reports{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 12%;
    padding-left: 20%;
    border-bottom: 1px solid #DACCCC;
}

.reports a{
    color: white;
}

.reports i{
    font-size: 2em;
    padding-left: 4%;
}

.reports:hover{
    background-color: #DACCCC;
    a{
        color: black;
    }
} 

.accounts{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 10%;
    padding-left: 20%;
    border-bottom: 1px solid #DACCCC;
}

.accounts a{
    color: white;
}

.accounts i{
    font-size: 2em;
    padding-left: 4%;
}

.accounts:hover{
    background-color: #DACCCC;
    a{
        color: black;
    }
}

.dashboard-body{
    background-color: #DACCCC;
    height: 85vh;
    padding-top: 0.5%;
}

.osas{
    background-color: white;
    display: flex;
    height: 20vh;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0 8px 10px rgba(0, 0, 0, .2);
}

.osas img{
    height: 20vh;
    padding: 2%;
}

.osas-body{
    background-color: white;
    display: flex;
    margin-top: 1%;
    height: 14vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.top{
    width: 100%;
    display: flex;
    align-items: center;
    height: 15vh;
    padding-left: 3%;
}

.top select{
    height: 5vh;
    border: none;
}

.org-names{
    border: 1px solid black;
    margin-left: 48%;
    padding-left: 3%;
    padding-right: 1%;
    background-image: url('filter.png');
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: left center;
    background-position-x: 5%;
}

.org-status{
    border: 1px solid black;
    margin-right: 0.5%;
    margin-left: 3%;
    padding-left: 3%;
    padding-right: 1%;
    background-image: url('filter.png');
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: left center;
    background-position-x: 2%;
}

.top select{
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

.overview{
    background-color: white;
    display: flex;
    height: 48vh;
    width: 6vw;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    gap: 2%;
}

.event1{
    border: 1px solid black;
    height:40vh;
    box-shadow:  0 8px 10px rgba(0, 0, 0, .2);
    transition: scale 0.1s;
    color: black;
}

.event1:hover{
    scale: 1.1;
}


.event1 img{
    height: 20vh;
    border-bottom: 1px solid black;
}

.event1 p{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .dashboard, .event, .calendar, .reports, .accounts {
        padding-left: 10%; /* Adjust padding for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .dashboard, .event, .calendar, .reports, .accounts {
        padding-left: 5%; /* Further adjust padding for smaller screens */
    }
}