/*=============== Font-Face ===============*/
@font-face {
    font-family: 'Poppins';
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(0, 0%, 100%);
    --gradient: linear-gradient(90deg, hsl(148, 100%, 50%), hsl(144, 100%, 20%));
    --first-color-alt: hsl(0, 0%, 52%);
    --black-color: #000000;
    --text-color: hsl(0, 0%, 100%);
    --text-color-light: hsl(0, 0%, 52%);
    --body-color: hsl(0, 87%, 26%);
    --container-color: hsl(22, 8%, 7%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Poppins', cursive;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: white;
    color: var(--black-color);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



.imageBg{
    background: url(Image/Background.png) no-repeat center center/cover;
    overflow: auto;
    height: 739px;
    width: 100%;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.44);
}



.logo_margin{
    margin-left: 0;
}

.eagleSize{
    width: 900px;
    height: auto;
    object-fit: cover;
}
.eagleContainer{
    margin-top: 0;
}
.eagleMargin{
    margin-left: 0;
}

.textFont{
    font-family: "Stick No Bills", serif;
    height: 240px;
    width: 380px;
}


.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 271px;
    height: 93px;
    font-size: 2rem;
    background: none;
    border: #ffffff 3px solid;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: var(--font-semi-bold);
    transition: background .3s, color .3s;
}

.home-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 271px;
    height: 93px;
    font-size: 2rem;
    border: #ffffff 3px solid;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: var(--font-semi-bold);
    transition: background .3s, color .3s;
}

.home-button:hover {
    background: #ffffff;
    color: #7c0909;
}
.home-button1:hover {
    background: #ffffff;
    color: #7c0909;
}


@media (min-width: 1024px){
    .logo_margin{
        margin-left: 20.5rem;
    }
    .eagleContainer{
        margin-top: 3rem;
        margin-left: 3rem;
    }
    .eagleMargin{
        margin-left: 8rem;
    }
}

.admin-btn-container{
    display: none;
}

.btn-container{
    display: flex;
}